<!DOCTYPE html>
<html>

<head>
    <title>Distributed Warranty Card-login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="warranty,shop,Ecommerce,blockchain">
    <meta charset="UTF-8">
    <link rel="icon" href="/icons/warranty_icon.ico">
    <link rel="stylesheet" href="/css/login.style.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        type="text/css" media="all" />
    <script src="/js/login.js" defer></script>
</head>

<body>
    <header class="mhdr">
        <ul class="navigator">
            <% let __dirname=process.cwd()%>
            <%- include( __dirname+"/views/static/partials/navigationBar.html") %>
        </ul>
    </header>
    <section class="loginForm">
        <h2>Login Panel</h2>
        <form action="/retailer/loginForm" method="post" onsubmit="return submitForm(event)">
            <label for="userid">Username</label> <br>
            <input type="text" name="userId" id="userid" placeholder="Username" required>
            <label for="pass">Password</label><br>
            <input type="password" placeholder="Password" name="password" id="pass" required><br>
            <p id='forgot'
            style="color:white;text-align: right;
            margin-right:8px;cursor:pointer"
            onclick="forgotPassword(this)" 
            >forgot password (Delete account)</p>
            <button type="submit" id="btnli" class="btn">
                Login
            </button>
        </form>
        <div class="extra">
            <a href="/retailer/signup">Sign Up</a>
            <a href="/retailer/loginGuest">Guest</a>
        </div>
        <div class="contacts">
            <i class="fab fa-facebook-f" style="color:rgb(0, 110, 255)"></i>
            <i class="fab fa-twitter" style="color:rgb(0, 255, 191)"></i>
            <i class="fab fa-instagram" style="color:rgb(255, 0, 0)"></i>
            <i class="fab fa-google" style="color:rgb(0, 68, 255)"></i>
        </div>
    </section>


        <div id="messenger" style="
                  position:fixed;
                  z-index:1;
                  top:50vh;
                  right:10px;
                  color:white;
                  font-size:1.5em;
                  padding:5px 10px;
                  opacity:0;
                  transition:opacity 0.5s ease-in-out">
        </div>
</body>
</html>