<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="/js/transferNFT.js" defer></script>
</head>

<body>
    <form id="transferNFT">
        From Mobile No: <input type="text" name="from_mobile_no"><br />
        To Mobile No: <input type="text" name="to_mobile_no"> <br />
        Serial_no: <input type="text" name="serial_no"> <br />
    </form>

    <button onclick="sendOTP(this)">get OTP</button>
</body>

</html>