body {
  background:darkgray url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/41294/hero.jpg) no-repeat center center fixed; 
  background-size: cover;
}

// SEARCH BEGINS
.search {
  width: 500px;
  height: 40px;
  margin: 150px auto;
  background: #444;
  background: rgba(0,0,0,.2);
  border-radius:  3px;
  border: 1px solid #fff;
  
  input {
    width: 370px;
    padding: 10px 5px;
    float: left;
    color: #ccc;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
    &:focus {
      outline: 0;
      background:transparent;
    }
  }
  
  button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    color: #fff;
    background: transparent;
    border-left: 1px solid #fff;
    border-radius: 0 3px 3px 0;
    &:hover {
      background: #fff;
      color:#444;
    }
    &:active {
      box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
    }
    &:focus {
      outline: 0;
    }
  }  
}


#details{
  
  padding: 20px;
  background-color: navy;
  border:2px solid cyan;
  outline:3px solid yellow;
  width:50vw;
  margin:auto;
  display: flex;
  flex-flow: row nowrap;
  label{
    color:aqua;
  }
  div:first-child{
    padding:10px;
    border:2px solid cyan;
    display: grid;
    place-items: end;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  span{
    width:100px;
    color: bisque;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  input{
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    text-align: center;
    user-select: all;
    margin:4px;
    background-color: #15c8663f;
    color:cyan;
  }
  div:nth-child(2){
    margin-top: 5px;
    display: inline-block;
    border:2px solid brown;
    padding: 3px;
  }
  img{
    border: 2px solid cyan;
  }
  button{
    display: block;
    margin-top: 5px;
    margin-left: auto;
    background-color: powderblue;
    border-radius: 3px;
    border: 2px solid orange;
    &:active{
      background-color: darkgray;
      border: 2px double brown;
    }
  }
}
// SEARCH ENDS